<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
        <header xmlns:h="http://xmlns.jcp.org/jsf/html">
            <th:block th:include="~{fragments/nav}"/>
        </header>
    <main>
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Products</span></h1>
        <h2 class="text-center mt-2"><span class="badge badge-pill badge-dark">Total Count:
            <th:block th:text="${count}"/></span></h2>
        <hr class="hr-3"/>
        <div th:each="i: ${items}" class="bg-blur container w-50">
            <div class="row mb-4 d-flex flex-column text-center">
                <a th:href="@{/products/details/{name}(name=*{i.getName()})}">
                    <img library="img"
                         th:src="@{${'/img/'+ i.getGender() + '-' + i.getCategory() + '.jpg'}}" class="img-thumbnail" width="200"
                      height="200"/>
                </a>
                 <h5 class="text-center"><th:block th:text="${i.getName()}"/></h5>
                <h2 class="text-center"><th:block th:text="${i.getPrice()}"/></h2>
            </div>
        </div>
    </main>
    <span style="visibility: hidden">...</span>
        <th:block th:include="~{fragments/footer}"/>
</body>
</html>
